name: Playwright QA Automation

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: |
          npm install
          npx playwright install --with-deps

      - name: Run Playwright Script - 24f3004981@ds.study.iitm.ac.in
        run: |
          node scrape.js
